<footer class="footer footer-center p-10 bg-orange-50">
  <div>
    <ul class="flex text-xs lg:text-base">
      <li class="mx-2"><%= link_to (t 'defaults.terms_of_use'), terms_path %></li>
      <li class="mx-2"><%= link_to (t 'defaults.privacy_policy'), privacy_path %></li>
      <li class="mx-2"><%= link_to (t 'defaults.contact'), 'https://forms.gle/p9GnF2wQhwhhztAZ8' %></li>
      <li><a href="http://webservice.recruit.co.jp/"><img src="http://webservice.recruit.co.jp/banner/hotpepper-m.gif" alt="ホットペッパー Webサービス" width="88" height="35" border="0" title="ホットペッパー Webサービス"></a></li>
      <p>【画像提供：ホットペッパー グルメ】</p>
    </ul>
  </div>
</footer>