<footer class="footer footer-center p-10 bg-orange-50">
  <div>
    <ul class="flex text-xs lg:text-base">
      <li class="mx-2"><%= link_to (t 'defaults.terms_of_use'), '#' %></li>
      <li class="mx-2"><%= link_to (t 'defaults.privacy_policy'), '#' %></li>
      <li class="mx-2"><%= link_to (t 'defaults.contact'), 'https://forms.gle/p9GnF2wQhwhhztAZ8' %></li>
    </ul>
  </div>
</footer>