<header class="navbar bg-orange-50">
  <div class="flex-1 ml-3">
    <%= link_to 'Voteat', root_path, class: 'button text-2xl font-bold' %>
  </div>
  <div class="flex-none mr-3">
    <ul class="flex">
      <li class="mr-3"><%= link_to (t 'posts.index.title'), posts_path %></li>
      <li><%= link_to (t 'defaults.logout'), logout_path, data: { turbo_method: :delete } %></li>
    </ul>
  </div>
</header>