<div class="w-full max-w-md space-y-8">
  <h1>Restaurants#search</h1>
  <%= form_with url: restaurants_path, method: :get , local: true do |f| %>
    <div class="form-control mb-10">
      <%= f.label :search, class: 'label' %>
      <%= f.search_field :address, class: 'input input-primary', placeholder: 'key word', value: params[:address] %>
    </div>
    <%= f.submit 'search', class: 'btn btn-primary' %>
  <% end %>
</div>
