<div class="card w-96 bg-primary text-neutral-content">
  <div class="card-body items-center text-center">
    <h2 class="card-title"><%= post.title %></h2>
    <div class="card-actions justify-end">
      <button class="btn">vote for</button>
      <button class="btn">viex voting results</button>
    </div>
  </div>
</div>