<div class="items-center py-12 px-4 min-h-screen">
  <h1 class="mb-14 text-center text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"><%= t '.title' %></h1>
  <% if @posts.present? %>
    <div class="flex flex-wrap">
      <%= render @posts %>
    </div>
  <% else %>
    <div class="text-center">
      <p class="text-2xl sm:text-3xl"><%= t '.no_result' %></p>
    </div>
  <% end %>
  <%= paginate @posts %>
</div>